fastapi
uvicorn[standard]
aiofiles
jinja2
responses
pytest
pytest-flake8
pytest-pep8
pytest-cov
mock
langchain
langchain-google-community
langchain-google-vertexai
google-cloud-aiplatform==1.65.0
google-cloud-discoveryengine
typing-inspect
typing_extensions
pydantic